body{
    background-color:darkblue;
    text-align: center;
    align-items:center;
    
}
header{

    color: black;
}h1{
    color:#FFFFFF;
}
.Formbox{
    width: 320px;
    background-color: #FFFFFF;
    padding: 10px;
    font-weight:  16px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 500px;
    text-align: left;
 }
 #sp{
    padding-top: 80px;
    margin-top: 15px;
    height: 80px;
    width: 300px;
    align-items: center;
    overflow-y: scroll;
    resize: none;
 }

